@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');



.InfoServicios {
    background-color: #2f4555;
    box-shadow: none;
    
}

.IconIS {
    width: 40%;
    margin-left: 30%;
    margin-top: 15%;

}

.TituloIS {
    font-family: 'Volkhov', serif;
    font-size: 145%;
    text-align: center;
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
    text-shadow: none;
    
}

@media (min-width: 1px) and (max-width: 576px) {
   
    .TituloIS {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 120%;
        text-align: center;
        margin-bottom: 45%;
    }
    
    .IconIS {
        width: 100%;
        margin-left: 0%;
        margin-top: 30%;

}
    
    
}

@media (min-width: 576px) and (max-width: 768px) {
    
    .TituloIS {
        font-size: 80%; 
        margin-bottom: 35%;
    }
    
    .IconIS {
        width: 80%;
        margin-left: 10%;
        margin-top: 25%;

}
    
    
}
}




