
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');



/* Button RRSS  */


.iconinsta {
    width: 50%;
    margin-top: 180%;
    margin-left: -190%;
}

.iconfb {
    width: 50%;
    margin-top: 180%;
    margin-left: -265%;
}



/* frase con efecto typing */


.frase1 {
    font-family: 'Volkhov', serif;
    color: white;
    margin-top: 42%;
    margin-left: 7%;
    text-shadow: none;
    line-height: 1em;
    font-size: 3rem;
}

.frase2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-shadow: none;
    margin-left: 10%;
    line-height: 1.05em;
    font-size: 170%;
    
}


/* flecha apuntando abajo*/

.arrow {
    width:20%;
    margin-left: 50%;
    margin-top: 25%;
    -webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}


@media (min-width: 1px) and (max-width: 576px) {
    
    .iconinsta {
        width: 30%;
        margin-top: 85%;
        margin-left: 3%;
}

    .iconfb {
        width: 30%;
        margin-top: 85%;
        margin-left: -85%;
}
    
    .frase1 {
        font-family: 'Volkhov', serif;
        color: white;
        margin-top: 95%;
        margin-left: 7%;
        text-shadow: none;
        font-size: 175%;
}

    .frase2 {
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        text-shadow: none;
        margin-left: 10%;
        line-height: 1.05em;
        font-size: 120%;
    
}
    
    .arrow {
        width:65%;
        margin-left: 50%;
        margin-top: 180%;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
}
    
}
@media (min-width: 576px) and (max-width: 768px) {
    
            .iconinsta {
            width: 20%;
            margin-top: 75%;
            margin-left: 0%;
    }

        .iconfb {
            width: 20%;
            margin-top: 75%;
            margin-left: -88%;
    }

        .frase1 {
            margin-top: 50%;
            font-size: 155%;
    }

        .frase2 {
            font-family: 'Roboto Condensed', sans-serif;
            color: white;
            text-shadow: none;
            margin-left: 10%;
            line-height: 1.05em;
            font-size: 120%;

    }

        .arrow {
            display: none;
    }
    
    
}


@media (min-width: 768px) and (max-width: 992px) {
    
            .iconinsta {
            width: 110%;
            margin-top: 400%;
            margin-left: 5%;
    }

        .iconfb {
            width: 110%;
            margin-top: 400%;
            margin-left: -40%;
    }

        .frase1 {
            margin-top: 70%;
            font-size: 175%;
    }

       

        .arrow {
            display: none;
    }
    
}


@media (min-width: 992px) and (max-width: 1400px) {
    
           .iconinsta {
            width: 50%;
            margin-top: 200%;
            margin-left: -8%;
    }

        .iconfb {
            width: 50%;
            margin-top: 200%;
            margin-left: -90%;
    }

        .frase1 {
            margin-top: 40%;
            font-size: 175%;
    }

       

        .arrow {
            display: none;
    }
    
    
}



