

.tagbackg {
    background-color: #d1a2a3;
    margin-top: 2%;
    border-radius: 0px 49px 49px 0px;
    -moz-border-radius: 0px 49px 49px 0px;
    -webkit-border-radius: 0px 49px 49px 0px;
}


.tagsection {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin-left: 30%;
    margin-top: 2%;
   font-size: 130%;
    text-shadow: none;
}


.tagbackcontacto {
   background-color: #2f4555;
    margin-top: 4%;
    border-radius: 0px 49px 49px 0px;
    -moz-border-radius: 0px 49px 49px 0px;
    -webkit-border-radius: 0px 49px 49px 0px; 
}


.contactosection {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin-left: 30%;
    margin-top: 2%;
   font-size: 130%;
    text-shadow: none;
}


@media (min-width: 1px) and (max-width: 576px) {
    
    .tagbackg {
        margin-top: 10%;
}
    
    .tagsection {

        font-size: 120%;
}
    
    .tagsection {
        margin-left: 20%;
       font-size: 120%;
}
    
    .contactosection {
        margin-left: 20%;
       font-size: 120%;
}

    
    
}