*.log
*.pot
*.pyc
__pycache__/
media_root
Facturas/
static_root
.env
venv/
env/
.idea/
.vscode/*
test/
.test\*
*.py[cod] 
*$py.class 
Lib/
.gcloudignore
*.yaml
cloud_sql_proxy.exe
*.whl
pyenv.cfg
wsgi.py
