.itemprice {
    font-family: 'Volkhov', serif;
    font-size: 230%;
    color: #2f4555;
    margin-top: 50%;
    margin-bottom: 2%;
    text-shadow: none;
}

.itemtitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 230%;
    color: #2f4555;
    margin-bottom: 2%;
}

.itemdescp {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 115%;
    color: #2f4555;
    margin-bottom: 2%;
    line-height: 1.2em;
}

/*-- boton carrito */

.btn-primary, .btn-primary:active {
    background-color: #2f4555 !important;
    width: 100% !important;
    border-color: #2f4555 !important; 

}

.btn-primary:visited,  .btn-primary:hover {
    background-color: #405b75 !important;
    border-color: #2f4555 !important; 
}

.cbec {
    color: white;
    width: 15%;
    margin-left: -10%;
    margin-top: -5%;
}
/* fin boton carrito^ */

@media (min-width: 1px) and (max-width: 576px) {
   
    .itemprice {
    font-size: 190%;
    color: #2f4555;
    margin-top: 2%;
    margin-bottom: 2%;
}
    
    .itemtitle {
    font-size: 170%;
    color: #2f4555;
    margin-bottom: 2%;
}
    
    .btn {
        margin-bottom: 15%;
    }
    
    /*-- boton carrito */


    .cbec {
        color: white;
        width: 20%;
        margin-left: 0%;
        margin-top: -5%;
    }
    /* fin boton carrito^ */
    
    
}

@media (min-width: 576px) and (max-width: 764px) {
    
       
    .itemprice {
    font-size: 190%;
    color: #2f4555;
    margin-top: 2%;
    margin-bottom: 2%;
}
    
    .itemtitle {
    font-size: 170%;
    color: #2f4555;
    margin-bottom: 2%;
}
    
    .btn {
        margin-bottom: 15%;
    }
    
    /*-- boton carrito */


    .cbec {
        color: white;
        width: 20%;
        margin-left: 0%;
        margin-top: -5%;
    }
    /* fin boton carrito^ */
    
    
}
    


@media (min-width: 775px) and (max-width: 1000px) {
    
    .itemprice {
    font-size: 190%;
    color: #2f4555;
    margin-top: 20%;
    margin-bottom: 2%;
}
    
    .itemtitle {
    font-size: 170%;
    color: #2f4555;
    margin-bottom: 2%;
}
    
    .btn {
        margin-bottom: 15%;
    }
    
    /*-- boton carrito */


    .cbec {
        color: white;
        width: 25%;
        margin-left: 0%;
        margin-top: -5%;
    }
    /* fin boton carrito^ */
    
    
}

@media (min-width: 1000px) and (max-width: 1300px) {
    
    .btn {
        margin-bottom: 15%;
    }
    
}
    

