@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


.selector {
    margin-top: 3%;
    margin-bottom: 5%;
}

.productobg {

    border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    margin-bottom: 20%;
    
    -webkit-box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.18);
    -moz-box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.18);
    box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.18);

}

.fotoproducto {
    width: 100%;
}

.carritobtn {
    width: 90%;
    margin-top: 20%;
   
}

.titupro {
    font-family: 'Volkhov', serif;
    font-size: 160%;
    color: white;
    margin-top: 20%;
    margin-left: 10%;
    line-height: 1em;
}


.descpro {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 110%;
    color: white;
    margin-left: 10%;
}

.pricepro {
    font-family: 'Volkhov', serif;
    font-size: 170%;
    color: #2f4555;
    margin-left: 20%;
    margin-top: 15%;
    margin-bottom: 20%;
    
}

.bcy {
   margin-top: 12%;
    margin-bottom: 20%; 
    margin-left: -15%;
}

@media (min-width: 1px) and (max-width: 576px) {
    
    .selector {
    margin-top: 5%;
    margin-bottom: 10%;
}
    
    .carritobtn {
    display: none;
   
}

.titupro {
    font-family: 'Volkhov', serif;
    font-size: 110%;
    color: white;
    margin-top: 10%;
    margin-left: 10%;
    line-height: 1em;
}


.pricepro {
    font-family: 'Volkhov', serif;
    font-size: 160%;
    color: #2f4555;
    margin-left: 8%;
    margin-top: 0%;
    margin-bottom: 5%;
    
}

.bcy {
  display: none; 
}
    
    .bemb {
        display: none;
    }
    
}

@media (min-width: 576px) and (max-width: 768px) {
    .pricepro {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    
}
    
    .bcy {
   margin-top: 5%;
    margin-bottom: 10%; 
    margin-left: 5%;
}
    
}

@media (min-width: 768px) and (max-width: 1200px) {
    
    .carritobtn {
    width: 150%;
    margin-top: 20%;
    margin-left: -20%;
   
}
    
    .titupro {
    font-size: 100%;
}
    
    .pricepro {
    font-size: 150%;
    margin-left: 10%;
    
}
    
    .bcy {
    margin-top: 12%;
    margin-bottom: 20%; 
    margin-left: -20%;
}
    
}

