.lineaazul {
    display: none;
}

.linearosa {
    display: none;
}



.servicioinf {
    background-color: #d1a2a3;
}


.iconsr {
    margin-top: 10%;
    width: 60%;
    margin-left: 20%;
}

.titulosr {
    font-family: 'Volkhov', serif;
    color: white;
    font-size: 120%;
    text-align: center;
    text-shadow: none;
    line-height: 1.05em;
    margin-top: 5%;
    margin-bottom: 15%;
}





.ftdestacado {
    width: 60%;
    z-index: 1000;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 0%;
    
}

.tdestacado {
    font-family: 'Volkhov', serif;
    font-size: 110%;
    text-align: center;
    color: #2f4555;
    margin-top: 5%;
    margin-bottom: 10%;
    text-shadow: none;
}

@media (min-width: 1px) and (max-width: 576px) {
    
    .lineaazul {
        display: block;
        height: 15px;
        background-color:#2f4555; 
        margin-top: 10%;
}

    .linearosa {
        display: block;
        height: 5px;
        background-color: #d1a2a3;
}
    
    .servicioinf {
    background-color: white;
}
    
   .iconsr {
    margin-top: 30%;
    width: 100%;
    margin-left: 0%;
}
    
    .titulosr {
    color: #2f4555;
    font-size: 100%;
    text-align: center;
    text-shadow: none;
    line-height: 1.05em;
    margin-top: 5%;
    margin-bottom: 15%;
}
    
    .ftdestacado {
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 0%;
    
}

.tdestacado {
    font-family: 'Volkhov', serif;
    font-size: 115%;
    text-align: center;
    color: #2f4555;
    margin-top: 3%;
    margin-bottom: 20%;
    text-shadow: none;
}
    
    
}


