@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');



header {
    width:100%;
    z-index: 1000;
    background-color:;
    border-bottom: 1.2px #fff solid;
    -webkit-transition: background-color .5s;
}

/*-- el <a> del boton contacto */
.Btcontacto {
    margin-left: 22px;
    margin-right: 22px;
    font-family:'Roboto Condensed', sans-serif;
    letter-spacing: 4px;    
    font-size: 100%;
    color: white;
    text-decoration: none;
      
}

/*-- el <li> del boton contacto */
.Btborder {
    margin-top: 4.8%;
    padding:9px;
    border: 1px #fff solid;
    border-radius: 49px 49px 49px 49px;
    -moz-border-radius: 49px 49px 49px 49px;
    -webkit-border-radius: 49px 49px 49px 49px;
}

.Btborder:hover {
    background-color: rgba(255,255,255, 0.4);
    text-decoration: none;
}

.Btcontacto:hover, .Btcontacto:visited, .Btcontacto:link, .Btcontacto:active
{
text-decoration: none;
color: white;
}

/* Fin del boton contacto ^ */

header nav {
	width:100%;
    display: flex;
    
  
   
}

#Logo {
    width: 12%;
    height: 6%;
    margin-top: 1%;
    margin-left: 4%;
}

header nav ul {
	overflow:hidden;
	list-style:none;
    margin-left: 37%;
    
    
   
}

header nav ul li {
	float:left;
    font-family:'Roboto Condensed', sans-serif;
    letter-spacing: 3px;
    margin-top: 3%;
	padding:20px;
    display: table-cell; 
    position: relative;
    font-size: 105%;
    
      
}

.Btm {
  color: white;
  text-decoration: none;
  
  display: inline-block;
  position: relative;
    
    
}

.Btm:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 1;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.Btm:hover:after { 
  width: 100%; 
  left: 0; 
}

.Btm:hover, .Btm:visited, .Btm:link, .Btm:active
{
text-decoration: none;
color: white;
}

.logo-mobile {
    display: none;
}

.menu-mobile {
 display: none;   
}

.logoicon {
    display: none;
}

@media (min-width: 1px) and (max-width: 576px) {
    
    
    .menu_section {
        display: none;
    }
    
     .logo-mobile {
        display: block;
        width: 40%;
        margin-left: 2%;
        margin-top: 0%;
        margin-bottom: 1%;
        
    }
    
    header {
        border-bottom: 1px #fff solid;
    }
    
    
    .menu-mobile {
        display: block;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 2000;
    }
    
    .barramenu {
        background-color: #e6e6e6;
        border-radius: 25px 25px 0px 0px;
        -moz-border-radius: 25px 25px 0px 0px;
        -webkit-border-radius: 25px 25px 0px 0px;
    }
    
    .logoicon {
        display: block;
        width: 12%;
        position: fixed;
        right: 0;
        margin-right: 2%;
        bottom: 8vh;
        z-index: 2001;
        
    }
    
    .bi-house-fill {
        align-content:center;
        color: #d1a2a3;
        width: 35%;
        margin-left: 31%;
        margin-top: 15%;  
    }
    
    .bi-layers-fill, .bi-trophy, .bi-cart-fill {
        align-content:center;
        color: #2f4555;
        width: 35%;
        margin-left: 31%;
        margin-top: 15%;
    }
    
    .textmbH {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 90%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 25%;
        color: #d1a2a3;
    }
    
    .textmb {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 90%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 25%;
        color: #2f4555;
    }
    
}
    
@media (min-width: 577px) and (max-width: 768px) {
        
           
    .menu_section {
        display: none;
    }
    
     .logo-mobile {
        display: block;
        width: 30%;
        margin-left: 2%;
        margin-top: 3%;
        margin-bottom: 1%;
        
    }
    
    header {
        border-bottom: 1px #fff solid;
    }
    
    
    .menu-mobile {
        display: block;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 2000;
    }
    
    .barramenu {
        background-color: #e6e6e6;
        border-radius: 25px 25px 0px 0px;
        -moz-border-radius: 25px 25px 0px 0px;
        -webkit-border-radius: 25px 25px 0px 0px;
    }
    
    .logoicon {
        display: block;
        width: 12%;
        position: fixed;
        right: 0;
        margin-right: 2%;
        bottom: 11vh;
        z-index: 2001;
        
    }
    
    
    .bi-house-fill, .bi-layers-fill, .bi-trophy, .bi-cart-fill {
        align-content:center;
        color: #2f4555;
        width: 35%;
        margin-left: 31%;
        margin-top: 15%;
    }
    
    .textmb {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 90%;
        text-align: center;
        margin-top: 5%;
    } 
        
     
    
}
    
    
@media (min-width: 769px) and (max-width: 992px) {
        
        #Logo {
            width: 20%;
        }
        
        header nav ul {
            margin-left: 5%;
        }
        
        header nav ul li {
            margin-top: 3%;
            padding:10px;
            font-size: 90%;


        }
        
        .Btborder {
            margin-top: 3%;
        }
        
        
        
    }



@media (min-width: 993px) and (max-width: 1400px) {
    
    
        #Logo {
            width: 15%;
        }
    
        header nav ul {
            margin-left: 25%;
        }
    
         header nav ul li {
            margin-top: 6%;
            padding:10px;
            font-size: 100%;
        }
    
        .Btborder {
            margin-top: 6%;
        }
    
}