{% load static %}
<!DOCTYPE HTML>
<html LANG="en">

<head>
    <meta charset="UFT-8">
    <title>Juguetes Sexuales</title>
    <meta name="description" content="----------"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/LogoIcon.png' %}"/>

    <!-- Links para CSS -->
    <link rel="stylesheet" href="{% static 'css/products/cssgenerales.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/menucatalg.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/cuerposeccion.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/infoservicios.css' %}">
    <link rel="stylesheet" href="{% static 'css/teinterese.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script type="text/javascript" src="{% static 'js/home/top3juguetes.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home/universal-parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/variables/variables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/products/catalog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/products/item.js' %}"></script>
    
    <script>
        new universalParallax().init({
            speed: 4
        });
    </script>


    <!-- Codigo JS de bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" 
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- Codigo de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- Fuentes usadas en todos los textos

        https://fonts.google.com/specimen/Roboto+Condensed?category=Serif,Sans+Serif&query=roboto
        https://fonts.google.com/specimen/Volkhov?category=Serif 


       ** Nuevos anchos de Bootstrap **
        col-: Anchos bajo 576px
        col-sm-: Anchos entre 576px y 767px
        col-md-: Anchos entre 768px y 991px
        col-lg-: Anchos entre 992px y 1199px
        col-xl-: Anchos de 1200px en adelante

-->


</head>

<body onload="checkCategory()">


<header class="banner">
    <div>
        <div class="menu_section">
            <nav>
                <a id="logocatnav" href="/"><img style="width: 90%" src="{% static 'img/Logo.png' %}"></a>
                <ul class="MenuNave">
                    <li><a class="Btm" href="/">Inicio</a></li>
                    <li><a class="Btm" href="{% url 'core:catalog' %}">Productos</a></li>
                    <li><a class="Btm" href="#qs">Favoritos</a></li>
                    <li class="Btborder"><a class="Btcontacto" href="#qs">Contacto</a></li>
                </ul>
            </nav>
        </div>

        <a  href="/"><img class="logo-mobile" src="{% static 'img/Logo.png' %}"></a>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-3">

            </div>

            <div class="col-md-4 col-3">
            </div>

            <div class="col-md-4 col-6">
                <h4 class="tjuguetes">Juguetes para</h4>
                <h1 class="pellas">Ellas</h1>
            </div>

        </div>

    </div>

</header>

<section>
    <img class="logoicon" src="{% static 'img/LogoIcon.png' %}">
    <div class="menu-mobile">

        <div class="container-fluid barramenu">
            <div class="row">


                <div class="col-3">
                    <svg id="svgH" class="bi bi-house-fill" onclick="window.scrollTo({top:0, behavior: 'smooth'})"
                         viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd"
                              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>
                    <h5 id="tituloH" class="textmbH">Inicio</h5>
                </div>

                <div class="col-3">
                    <svg id="svgC" class="bi bi-layers-fill"
                         onclick="window.scrollTo({top:739, behavior: 'smooth'})" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z"/>
                        <path fill-rule="evenodd"
                              d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l.418-.785-.419.785-5.169-2.756z"/>
                    </svg>
                    <h5 id="tituloC" class="textmb">Categorias</h5>
                </div>

                <div class="col-3">
                    <svg id="svgL" class="bi bi-trophy" onclick="window.scrollTo({top:1611, behavior: 'smooth'})"
                         viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z"/>
                        <path fill-rule="evenodd"
                              d="M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z"/>
                        <path d="M7 10h2v4H7v-4z"/>
                        <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z"/>
                    </svg>
                    <h5 id="tituloL" class="textmb">Favoritos</h5>
                </div>

                <div class="col-3">
                    <svg class="bi bi-cart-fill" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                    <h5 class="textmb">Carrito</h5>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="todo">

    <section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-0">

                </div>

                <div class="col-md-3 col-8 selector">
                    <select id="categoriesSelect" class="custom-select" onchange="filterProducts()"
                            style=" font-family: 'Roboto Condensed', sans-serif; letter-spacing: 1px;">
                        <option selected value="0">Todos los Juguetes</option>
                        <option value="1">Juguetes para Ella</option>
                        <option value="2">Juguetes para El</option>
                        <option value="3">Juguetes Inteligentes</option>
                    </select>
                </div>

                <div class="col-4">

                </div>
                <div class="col-4">

                </div>


            </div>

        </div>

        <div class="container">
            <div class="row">
                {% for item in object_list %}
                    <div class="col-md-3 col-6" {% if item.get_smart == True %} name="PSmart"
                    {% elif item.get_category_display == 'Mujer' %} name="PWoman" {% else %} name="PMan"
                    {% endif %}>
                        <div class="productobg" {% if item.get_category_display == 'Mujer' %}
                             style="background-color:#d1a2a3;" {% else %} style="background-color:#2f4555;" {% endif %}>
                            <a href="{{ item.get_absolute_url }}">
                                <img class="fotoproducto" src="{{ item.image.url }}">
                            </a>
                            <div class="row">
                                <div class="col-md-8 col-10">
                                    <a href="{{ item.get_absolute_url }}">
                                        <h2 class="titupro">{{ item.title }}</h2>
                                        <h4 class="descpro">{{ item.description }}</h4>
                                    </a>
                                </div>
                                <div class="col-md-4 col-1">
                                    <a href="{{ item.get_add_to_cart_url }}1">
                                        <img class="carritobtn" src="{% static 'img/carritobtn.png' %}">

                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <a href="{{ item.get_absolute_url }}">
                                        <h2 class="pricepro"
                                                {% if item.get_category_display == 'Inteligente' or item.get_category_display == 'Hombre' %}
                                            style="color:#ffffff;" {% endif %}>
                                            ${{ item.price }}
                                        </h2>
                                    </a>
                                </div>

                                <div class="col-md-6 col-12 bemb">
                                    <button type="button" class="btn btn-warning bcy">Comprar Ya</button>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
                {% comment %}
                    <div class="col-md-3 col-6">
                        <div class="productobg">

                            <img class="fotoproducto" src="{% static 'img/producto2.jpg' %}">


                            <div class="row">
                                <div class="col-md-8 col-10">
                                    <h2 class="titupro">Clit sucker recargable</h2>
                                    <h4 class="descpro">Succionador de clitoris</h4>
                                </div>

                                <div class="col-md-4 col-1">
                                    <img class="carritobtn" src="{% static 'img/carritobtn.png' %}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <h2 class="pricepro">$135</h2>
                                </div>

                                <div class="col-md-6 col-12 bemb">
                                    <button type="button" class="btn btn-warning bcy">Comprar Ya</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3 col-6">
                        <div class="productobg">

                            <img class="fotoproducto" src="{% static 'img/producto3.jpg' %}">


                            <div class="row">
                                <div class="col-md-8 col-10">
                                    <h2 class="titupro">Rabbit vibrador</h2>
                                    <h4 class="descpro">Succionador de clitoris</h4>
                                </div>

                                <div class="col-md-4 col-1">
                                    <img class="carritobtn" src="{% static 'img/carritobtn.png' %}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <h2 class="pricepro">$135</h2>
                                </div>

                                <div class="col-md-6 col-12 bemb">
                                    <button type="button" class="btn btn-warning bcy">Comprar Ya</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3 col-6">
                        <div class="productobg">

                            <img class="fotoproducto" src="{% static 'img/producto4.jpg' %}">


                            <div class="row">
                                <div class="col-md-8 col-10">
                                    <h2 class="titupro">Bala vibradora</h2>
                                    <h4 class="descpro">Succionador de clitoris</h4>
                                </div>

                                <div class="col-md-4 col-1">
                                    <img class="carritobtn" src="{% static 'img/carritobtn.png' %}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <h2 class="pricepro">$135</h2>
                                </div>

                                <div class="col-md-6 col-12 bemb">
                                    <button type="button" class="btn btn-warning bcy">Comprar Ya</button>
                                </div>
                            </div>

                        </div>
                    </div>{% endcomment %}
            </div>

        </div>

    </section>


    <section style="background-color: #f2f2f2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12"><h1 class="titlesection">Quizás también te intere</h1></div>


                <div class="col-12 col-md-6 col-lg-3">
                    <div class="boxbase">
                        <div class="row">
                            <div class="col-3">
                                <img class="imgteint" src="{% static 'img/producto2.jpg' %}">
                            </div>

                            <div class="col-6">
                                <h1 class="titleteint">Vibrador de silicon
                                    y punto G</h1>
                                <p class="textteint">Juguete inteligente</p>
                            </div>

                            <div class="col-3">
                                <h1 class="priceteint">$35</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="boxbase">
                        <div class="row">
                            <div class="col-3">
                                <img class="imgteint" src="{% static 'img/modelojuguete2.jpg' %}">
                            </div>

                            <div class="col-6">
                                <h1 class="titleteint">Vibrador de silicon
                                    y punto G</h1>
                                <p class="textteint">Juguete inteligente</p>
                            </div>

                            <div class="col-3">
                                <h1 class="priceteint">$35</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="boxbase">
                        <div class="row">
                            <div class="col-3">
                                <img class="imgteint" src="{% static 'img/producto3.jpg' %}">
                            </div>

                            <div class="col-6">
                                <h1 class="titleteint">Vibrador de silicon
                                    y punto G</h1>
                                <p class="textteint">Juguete inteligente</p>
                            </div>

                            <div class="col-3">
                                <h1 class="priceteint">$35</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="boxbase">
                        <div class="row">
                            <div class="col-3">
                                <img class="imgteint" src="{% static 'img/producto4.jpg' %}">
                            </div>

                            <div class="col-6">
                                <h1 class="titleteint">Vibrador de silicon
                                    y punto G</h1>
                                <p class="textteint">Juguete inteligente</p>
                            </div>

                            <div class="col-3">
                                <h1 class="priceteint">$35</h1>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


</section>


<footer style="background-color: #2f4555;">

    <div class="">
        <div class="container">

            <div class="row">

                <div class="col-md-3 col-6">
                    <img class="logomf" src="{% static 'img/logoblanco.png' %}">
                    <h5 class="Contactomf">info@elnombre.com</h5>
                    <h5 class="Contactomf">+506 6039 8858</h5>
                </div>

                <div class="col-md-2 col-6 menufl">
                    <nav>
                        <ul>
                            <li class="menufooter"><a class="linkmenufooter" href="/">Inicio</a></li>
                            <li class="menufooter"><a class="linkmenufooter"
                                                      href="{% url 'core:catalog' %}">Productos</a></li>
                            <li class="menufooter"><a class="linkmenufooter" href="#Qs">Favoritos</a></li>
                            <li class="menufooter"><a class="linkmenufooter" href="#qs">Contacto</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-3 col-6 menufl2">
                    <nav>
                        <ul>
                            <a class="linkmenufooter" href="{% url 'core:catalog' %}">
                                <li onclick="SaveCategory('category', 'men')" class="menufooter">For Him</li>
                            </a>
                            <a class="linkmenufooter" href="{% url 'core:catalog' %}">
                                <li onclick="SaveCategory('category', 'women')" class="menufooter">For Her</li>
                            </a>
                            <a class="linkmenufooter" href="{% url 'core:catalog' %}">
                                <li onclick="SaveCategory('category', 'smart')" class="menufooter">Smart Toys</li>
                            </a>
                        </ul>
                    </nav>
                    <img class="instaimf" src="{% static 'img/instagram.png' %}">
                    <img class="faceimf" src="{% static 'img/facebook.png' %}">
                </div>

                <div class="col-md-4 col-12 menufl3">
                    <form class="formfooter">
                        <div class="form-row">
                            <small id="emailHelp" class="col-12 form-text text-muted mensajf">Mandanos tu correo y
                                te contactamos</small>
                            <div class="col-12 form-group">
                                <input type="text" class="form-control textinfc" placeholder="E-mail">
                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-outline-light">Enviar</button>
                </div>

            </div>
        </div>

    </div>


    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-1"></div>
                <div class="col-md-4 col-10">
                    <h6 class="derechosr" style="color: white">&copy; Derechos Reservados</h6>
                </div>
                <div class="col-md-4 col-1"></div>
            </div>
        </div>
    </div>


</footer>

</body>