{% load static %}
<!DOCTYPE HTML>
<html LANG="en">

<head>
    <meta charset="UFT-8">
    <title>Juguetes Sexuales</title>
    <meta name="description" content="----------" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/LogoIcon.png'%}" />

    <!-- Links para CSS -->
    <link rel="stylesheet" href="{% static 'css/product/cssgenerales.css'%}">
    <link rel="stylesheet" href="{% static 'css/product/Menu.css'%}">
    <link rel="stylesheet" href="{% static 'css/product/infoitem.css'%}">
    <link rel="stylesheet" href="{% static 'css/product/plusminus.css'%}">
    <link rel="stylesheet" href="{% static 'css/product/iconsinformativos.css'%}">
    <link rel="stylesheet" href="{% static 'css/product/descproducto.css'%}">
    <link rel="stylesheet" href="{% static 'css/product/fotosproduct.css'%}">
    <link rel="stylesheet" href="{% static 'css/product/footer.css'%}">




    <!-- Codigo de bootstrap -->
    <link rel="stylesheet" href="{% static 'css/product/bt/bootstrap.css'%}">


    <link rel="stylesheet" href="{% static 'css/product/bt/bootstrap-reboot.css'%}">


    <link rel="stylesheet" href="{% static 'css/product/bt/bootstrap-grid.css'%}">


    <script type="text/javascript" src="{% static 'js/product/item.js'%}"></script>

    <!-- Fuentes usadas en todos los textos

        https://fonts.google.com/specimen/Roboto+Condensed?category=Serif,Sans+Serif&query=roboto
        https://fonts.google.com/specimen/Volkhov?category=Serif 


       ** Nuevos anchos de Bootstrap **
        col-: Anchos bajo 576px
        col-sm-: Anchos entre 576px y 767px
        col-md-: Anchos entre 768px y 991px
        col-lg-: Anchos entre 992px y 1199px
        col-xl-: Anchos de 1200px en adelante

-->


</head>

<body>




    <header class="banner">
        <div>
            <div class="menu_section">
                <nav>
                    <img src="{% static 'img/Logo.png'%}" id="Logo">
                    <ul class="MenuNave">
                        <li><a class="Btm" href="#inicio">Inicio</a></li>
                        <li><a class="Btm" href="#productos">Categorias</a></li>
                        <li><a class="Btm" href="#qs">Favoritos</a></li>
                        <li class="Btborder"><a class="Btcontacto" href="#qs">Contacto</a></li>
                    </ul>
                </nav>
            </div>

            <img class="logo-mobile" src="{% static 'img/logofullcolor.png'%}">
        </div>


    </header>

    <section>
        <img class="logoicon" src="{% static 'img/LogoIcon.png'%}">
        <div class="menu-mobile">

            <div class="container-fluid barramenu">
                <div class="row">


                    <div class="col-3">
                        <svg id="svgH" class="bi bi-house-fill" onclick="window.scrollTo({top:0, behavior: 'smooth'})"
                            viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg>
                        <h5 id="tituloH" class="textmbH">Inicio</h5>
                    </div>

                    <div class="col-3">
                        <svg id="svgC" class="bi bi-layers-fill"
                            onclick="window.scrollTo({top:739, behavior: 'smooth'})" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                            <path fill-rule="evenodd"
                                d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l.418-.785-.419.785-5.169-2.756z" />
                        </svg>
                        <h5 id="tituloC" class="textmb">Categorias</h5>
                    </div>

                    <div class="col-3">
                        <svg id="svgL" class="bi bi-trophy" onclick="window.scrollTo({top:1611, behavior: 'smooth'})"
                            viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z" />
                            <path fill-rule="evenodd"
                                d="M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z" />
                            <path d="M7 10h2v4H7v-4z" />
                            <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z" />
                        </svg>
                        <h5 id="tituloL" class="textmb">Favoritos</h5>
                    </div>

                    <div class="col-3">
                        <svg class="bi bi-cart-fill" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                        <h5 class="textmb">Carrito</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="todo">

        <section>

            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{{ item.image.url }}" alt="First slide">
                                </div>
                                {% if item.image2.url != None %}
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{{ item.image2.url }}" alt="Second slide">
                                </div>
                                {% endif %}
                                {% if item.image3.url != None %}
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{{ item.image3.url }}" alt="Tecond slide">
                                </div>
                                {% endif %}
                                {% if item.image4.url != None %}
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{{ item.image4.url }}" alt="Fhird slide">
                                </div>
                                {% endif %}
                                <h1>{{item.image5}}</h1>
                                {% if item.image5.url != None %}
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{{ item.image5.url }}" alt="Fifth slide">
                                </div>
                                {% endif %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                v<span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-10 col-12">
                                <h2 class="itemprice">{{ item.price }}</h2>
                                <h5 class="itemtitle">{{ item.title }}</h5>
                                <p class="itemdescp">{{ item.description }}</p>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="input-group">
                                    <input type="button" value="-" class="button-minus" data-field="quantity"
                                        onclick="decreaseAmount()">
                                    <input type="number" readonly="readonly" id="productAmount" step="1" min="1"
                                        max="{{ item.stockQuantity }}" value="1" name="quantity" class="quantity-field">
                                    <input type="button" value="+" class="button-plus" data-field="quantity"
                                        onclick="increaseAmount()">
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-5 col-5">
                                <a href="#" onclick="AddToCart( '{{ object.get_add_to_cart_url }}' );">
                                    <button type="button" class="btn btn-primary">

                                        <svg class="bi bi-cart-fill cbec" viewBox="0 0 16 16" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg> Al Carrito
                                    </button>
                                </a>
                            </div>

                            <div class="col-md-4 col-lg-6 col-6">
                                <button type="button" class="btn btn-warning">Compralo Ya</button>
                            </div>
                        </div>




                    </div>



                </div>

            </div>

        </section>

        <section class="iconssect">

            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-12 cuadroinfizq">
                        <div class="row">
                            <div class="col-2">
                                <svg viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd"
                                        d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                            </div>

                            <div class="col-6">
                                <p class="tiicf">Trasporte a todo el pa[is</p>
                            </div>

                            <div class="col-4">
                                <svg viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5v7h-1v-7a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5v1A1.5 1.5 0 0 1 0 10.5v-7zM4.5 11h6v1h-6v-1z" />
                                    <path fill-rule="evenodd"
                                        d="M11 5h2.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5h-1v-1h1a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4.5h-1V5zm-8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                    <path fill-rule="evenodd"
                                        d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                </svg>
                            </div>





                            <div class="col-2">
                                <svg viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd"
                                        d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                            </div>

                            <div class="col-6">
                                <p class="tiicf">Pago con tarjeta de credito o debito</p>
                            </div>

                            <div class="col-4">
                                <svg viewBox="0 0 16 16" class="bi bi-credit-card-2-back" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z" />
                                    <path
                                        d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zM1 9h14v2H1V9z" />
                                </svg>
                            </div>





                            <div class="col-2">
                                <svg viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd"
                                        d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                            </div>

                            <div class="col-6">
                                <p class="tiicf">Ahorro de tiempo en espera</p>
                            </div>

                            <div class="col-4">
                                <svg viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                                    <path fill-rule="evenodd"
                                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </div>





                        </div>

                    </div>

                    <div class="col-md-6 col-12 cuadroinfder">
                        <div class="row">

                            <div class="col-md-3 col-3">
                                <img class="iconinfitem" src="{% static 'img/velocidades.png'%}">
                                <h6 class="texticoninf">Nueve Velocidades</h6>
                            </div>

                            <div class="col-md-3 col-3">
                                <img class="iconinfitem" src="{% static 'img/waterproof.png'%}">
                                <h6 class="texticoninf">100% waterproof</h6>
                            </div>

                            <div class="col-md-3 col-3">
                                <img class="iconinfitem" src="{% static 'img/silencioso.png'%}">
                                <h6 class="texticoninf">Silencioso</h6>
                            </div>

                            <div class="col-md-3 col-3">
                                <img class="iconinfitem" src="{% static 'img/silicon.png'%}">
                                <h6 class="texticoninf">Silicon suave</h6>
                            </div>

                        </div>
                    </div>


                </div>


            </div>



        </section>


        <section class="descproduct">

            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-12 cuadrocontenido">
                        <h3 class="tdp">Descripcion del producto</h3>
                        <p class="pdp"><strong>Lorem ipsum: </strong>Lorem ipsum Lorem ipsum</p>
                        <p class="pdp"><strong>Lorem ipsum: </strong> is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took</p>
                    </div>


                    <div class="col-md-6 col-12 cuadrocontenido">
                        <div class="row">

                            <div class="col-3">
                                <img class="ftdestacado" src="{% static 'img/seleccion_1.png'%}">
                            </div>

                            <div class="col-8 backst">
                                <h3 class="tdestacado">Juguetes Selecionados</h3>
                                <p class="pdestacado">Seleccionamos lo mejor del mercado Para vos.</p>
                            </div>
                            <div class="col-3">
                                <img class="ftdestacado" src="{% static 'img/tiempo_1.png'%}">
                            </div>

                            <div class="col-8 backst">
                                <h3 class="tdestacado">Ahorra en tiempo</h3>
                                <p class="pdestacado">Con nosotros no esperas 1 mes. Placer y rapidez.</p>
                            </div>


                        </div>
                    </div>

                </div>
            </div>



        </section>

        <section>

            <div class="foto1">
            </div>


            <div class="foto2">
            </div>




        </section>




    </section>





    <footer>

        <div class="bgfooter">
            <div class="container">

                <div class="row">

                    <div class="col-md-3 col-6">
                        <img class="logomf" src="{% static 'img/logowhite.png'%}">
                        <h5 class="Contactomf">info@elnombre.com</h5>
                    </div>

                    <div class="col-md-2 col-6 menufl">
                        <nav>
                            <ul>
                                <li class="menufooter">Inicio</li>
                                <li class="menufooter">Categoria</li>
                                <li class="menufooter">Mas vendido</li>
                                <li class="menufooter">Contacto</li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-md-3 col-6 menufl2">
                        <nav>
                            <ul>
                                <li class="menufooter">For Her</li>
                                <li class="menufooter">For Him</li>
                                <li class="menufooter">Smart Toys</li>
                            </ul>
                        </nav>
                        <img class="instaimf" src="{% static 'img/instagram.png'%}">
                        <img class="faceimf" src="{% static 'img/facebook.png'%}">
                    </div>

                    <div class="col-md-4 col-12 menufl3">
                        <form class="formfooter">
                            <div class="form-row">
                                <small id="emailHelp" class="col-12 form-text text-muted mensajf">Mandanos tu correo y
                                    te contactamos</small>
                                <div class="col-12 form-group">
                                    <input type="text" class="form-control textinfc" placeholder="E-mail">
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-outline-light">Enviar</button>
                    </div>

                </div>
            </div>

        </div>



        <div class="bffooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-1"></div>
                    <div class="col-md-4 col-10">
                        <h6 class="derechosr">&copy; Derechos Reservados</h6>
                    </div>
                    <div class="col-md-4 col-1"></div>
                </div>
            </div>
        </div>



    </footer>



    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script type="text/javascript" src="{% static 'js/home/top3juguetes.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/home/universal-parallax.js'%}"></script>
    <script>
        new universalParallax().init({
            speed: 4
        });
    </script>


    <!-- Codigo JS de bootstrap -->
    <script type="text/javascript" src="{% static 'js/product/js.bt/bootstrap.js'%}"></script>

    <script type="text/javascript" src="{% static 'js/product/js.bt/bootstrap.bundle.js'%}"></script>

</body>