{% load static %}
<!DOCTYPE HTML>
<html LANG="en">

<head>
    <meta charset="UFT-8">
    <title>Juguetes Sexuales</title>
    <meta name="description" content="----------"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="{% static 'img/LogoIcon.png' %}"/>

    <!-- Links para CSS -->
    <link rel="stylesheet" href="{% static 'css/product/cssgenerales.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/Menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/teinterese.css' %}">
    <link rel="stylesheet" href="{% static 'css/resumestyle.css' %}">



    <script type="text/javascript" src="{% static 'js/products/cart_functions.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
    <!-- Codigo de bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <!-- Fuentes usadas en todos los textos

        https://fonts.google.com/specimen/Roboto+Condensed?category=Serif,Sans+Serif&query=roboto
        https://fonts.google.com/specimen/Volkhov?category=Serif 


       ** Nuevos anchos de Bootstrap **
        col-: Anchos bajo 576px
        col-sm-: Anchos entre 576px y 767px
        col-md-: Anchos entre 768px y 991px
        col-lg-: Anchos entre 992px y 1199px
        col-xl-: Anchos de 1200px en adelante

-->
<!-- Global site tag (gtag.js) - Google Ads: 348792047 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-348792047"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-348792047');
</script>

    <!-- Event snippet for Compra conversion page -->
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-348792047/nfU2CKm71sUCEO_JqKYB',
      'value': {{ total }},
      'currency': 'USD',
      'transaction_id': '{{ object.ref_code }}'
  });
</script>


</head>

<body>


<header class="banner">
    <div>
        <div class="menu_section">
            <nav>
                <a href="/" id="Logo"><img style="width: 100%" src="{% static 'img/logoblanco.png' %}"></a>
                <ul class="MenuNave">
                    <li><a class="Btm" href="/">Inicio</a></li>
                    <li><a class="Btm" href="{% url 'core:catalog' %}">Productos</a></li>
                    <li><a class="Btm" href="#qs">Favoritos</a></li>
                    <li class="Btborder"><a class="Btcontacto" href="#qs">Contacto</a></li>
                </ul>
            </nav>
        </div>

        <a  href="/"><img class="logo-mobile" src="{% static 'img/Logo.png' %}"></a>
    </div>


</header>

<section>
    <img class="logoicon" src="{% static 'img/LogoIcon.png' %}">
    <div class="menu-mobile">

        <div class="container-fluid barramenu">
            <div class="row">


                <div class="col-3">
                    <svg id="svgH" class="bi bi-house-fill" onclick="window.scrollTo({top:0, behavior: 'smooth'})"
                         viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd"
                              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>
                    <h5 id="tituloH" class="textmbH">Inicio</h5>
                </div>

                <div class="col-3">
                    <svg id="svgC" class="bi bi-layers-fill"
                         onclick="window.scrollTo({top:739, behavior: 'smooth'})" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z"/>
                        <path fill-rule="evenodd"
                              d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l.418-.785-.419.785-5.169-2.756z"/>
                    </svg>
                    <h5 id="tituloC" class="textmb">Categorias</h5>
                </div>

                <div class="col-3">
                    <svg id="svgL" class="bi bi-trophy" onclick="window.scrollTo({top:1611, behavior: 'smooth'})"
                         viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z"/>
                        <path fill-rule="evenodd"
                              d="M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z"/>
                        <path d="M7 10h2v4H7v-4z"/>
                        <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z"/>
                    </svg>
                    <h5 id="tituloL" class="textmb">Favoritos</h5>
                </div>

                <div class="col-3">
                    <svg class="bi bi-cart-fill" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                    <h5 class="textmb">Carrito</h5>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="todo">

    <div class="container bannerresume">
        <div class="row">
            <div class="col-12"><a style="width: 100%;cursor: pointer;"><img style="width: 100%; margin-top: 3%;"
                                                                             src="{% static 'img/bannerresume.jpg' %}">
            </div>
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">


            <div class="col-12 col-md-6">
                <h1 class="titleorderdone">¡Gracias por tu compra!</h1>

                <p class="textorderdone">Te haremos llegar tu(s) juguete(s) tan pronto sea posible a la siguiente dirección. Por favor, revisa que los datos estén correctos. </p>

                <ul>
                    <li class="infoorderdone"><strong>E-mail:</strong> {{ email }}</li>
                    <li class="infoorderdone"><strong>Dirección:</strong> {{ provincia }}, {{ canton }}, {{ distrito }}, {{ address }}</li>
                </ul>

                <ul>
                    <li class="infoorderdone"><strong>Producto(s):</strong> {{ product_names }}</li>
                </ul>


                <h2 class="totalorderdone"><strong>Total pagado:</strong> $ {{ total }}</h2>

            </div>


            <div class="col-12 col-md-6">
                <section style="margin-top: 5%;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12"><h1 class="titlesection">Quizás también te intere</h1></div>

                            {% for item in maybeObjects %}
                                <div class="col-12 col-xl-6">
                                    <div class="boxbase">
                                        <div class="row">
                                            <div class="col-3">
                                                <img class="imgteint" src="{{ item.image.url }}">
                                            </div>

                                            <div class="col-6">
                                                <h1 class="titleteint"> {{ item.title  }}</h1>
                                                <p class="textteint"> {% if item.smart  %} Juguete Inteligente {% else %} {% if item.category.title == 'H' %}
                             Juguete para ellos {% else %} Juguete para ellas {% endif %} {% endif %} </p>
                                            </div>

                                            <div class="col-3">
                                                <h1 class="priceteint">$ {{ item.price }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>


</section>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ya casi</h4>
            </div>
            <div class="modal-body">
                <p>Solo 6 segundos</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<footer style="background-color: #2f4555;">

    <div class="">
        <div class="container">

            <div class="row">

                <div class="col-md-3 col-6">
                    <img class="logomf" src="{% static 'img/logoblanco.png' %}">
                    <h5 class="Contactomf">info@elnombre.com</h5>
                    <h5 class="Contactomf">+506 6039 8858</h5>
                </div>

                <div class="col-md-2 col-6 menufl">
                    <nav>
                        <ul>
                            <li class="menufooter"><a class="linkmenufooter" href="/">Inicio</a></li>
                            <li class="menufooter"><a class="linkmenufooter"
                                                      href="{% url 'core:catalog' %}">Productos</a></li>
                            <li class="menufooter"><a class="linkmenufooter" href="#Qs">Favoritos</a></li>
                            <li class="menufooter"><a class="linkmenufooter" href="#qs">Contacto</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-3 col-6 menufl2">
                    <nav>
                        <ul>
                            <a class="linkmenufooter" href="{% url 'core:catalog' %}">
                                <li onclick="SaveCategory('category', 'men')" class="menufooter">For Him</li>
                            </a>
                            <a class="linkmenufooter" href="{% url 'core:catalog' %}">
                                <li onclick="SaveCategory('category', 'women')" class="menufooter">For Her</li>
                            </a>
                            <a class="linkmenufooter" href="{% url 'core:catalog' %}">
                                <li onclick="SaveCategory('category', 'smart')" class="menufooter">Smart Toys</li>
                            </a>
                        </ul>
                    </nav>
                    <img class="instaimf" src="{% static 'img/instagram.png' %}">
                    <img class="faceimf" src="{% static 'img/facebook.png' %}">
                </div>

                <div class="col-md-4 col-12 menufl3">
                    <form class="formfooter">
                        <div class="form-row">
                            <small id="emailHelp" class="col-12 form-text text-muted mensajf">Mandanos tu correo y
                                te contactamos</small>
                            <div class="col-12 form-group">
                                <input type="text" class="form-control textinfc" placeholder="E-mail">
                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-outline-light">Enviar</button>
                </div>

            </div>
        </div>

    </div>


    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-1"></div>
                <div class="col-md-4 col-10">
                    <h6 class="derechosr" style="color: white">&copy; Derechos Reservados</h6>
                </div>
                <div class="col-md-4 col-1"></div>
            </div>
        </div>
    </div>


</footer>


<script type="text/javascript" src="{% static 'js/home/top3juguetes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/universal-parallax.js' %}"></script>
<script>
    new universalParallax().init({
        speed: 4
    });
</script>

</body>

</html>
