footer {
    height: 50vh;
    width: 100%;
    bottom: 0;
    z-index: -10000;
    display: flex;
    position: fixed;
}


.logomf {
    width: 80%;
    margin-top: 30%;
}

.Contactomf {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    color: white;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 5%;
}

.menufl {
    border-left: 1px white solid;
    margin-top: 3%;
    margin-bottom: 3%;
}

.menufl2 {
    border-left: 1px white solid;
    margin-top: 3%;
    margin-bottom: 3%;
}

.menufl3 {
    border-left: 1px white solid;
    margin-top: 3%;
    margin-bottom: 3%;
}

.menufooter {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    color: white;
    margin-bottom: 10%;
    margin-top: 10%;
    list-style: none;
    cursor: pointer;
}

.linkmenufooter:hover, .linkmenufooter:visited, .linkmenufooter:link, .linkmenufooter:active {
    text-decoration: none;
    color: white;
}

.instaimf {
    width: 12%;
    margin-left: 16%;
}

.faceimf {
    width: 12%;
    margin-left: 2%;
}

.mensajf {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 90%;
    color: white;
}

.formfooter {
    margin-top: 5%;
}

.derechosr {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 120%;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 12%;
}

.mensage-carrito {
    font-family: 'Volkhov', serif;
    font-size: 190%;
    text-align: center;
    color: white;
}

.mensage-carrito-2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 120%;
    text-align: center;
    color: white;
}

.carrito-desktop {
    display: block;
    width: 4.5%;
    position: fixed;
    right: 0;
    margin-right: 2%;
    z-index: 2001;
    bottom: 8vh;
}



@media (min-width: 789px) and (max-width: 1028px) {
    footer {
        height: 25vh;
    }

    .carrito-desktop {

    width: 10%;
    bottom: 7vh;
}

}

@media (min-width: 578px) and (max-width: 788px) {

    footer {
        height: 40vh;
    }

    .logomf {
    width: 60%;
    margin-top: 8%;
}

    .carrito-desktop {
        width: 11%;
        bottom: 7vh;
    }

    .menufooter {

    margin-bottom: 3%;
    margin-top: 1%;

}
    .menufl2 {
        margin-top: 1%;

    }

    .menufl3 {
        margin-top: 1%;

    }
}


@media (min-width: 1px) and (max-width: 576px) {

    .carrito-desktop {
        display: none;
    }

    footer {
        height: 75vh;
        width: 100%;
        bottom: 0;
        z-index: -10000;
        display: flex;
        position: fixed;
    }


    .logomf {
        width: 60%;
        margin-top: 3%;
        margin-left: 1%;
        margin-bottom: 0%;
    }

    .Contactomf {
    margin-bottom: 2%;
    margin-top: 2%;
}

    .menufl {
        display: none;
    }

    .menufooter {
        display: none;
    }

    .instaimf {
        width: 10%;
        margin-left: 5%;
        margin-top: 0%;
    }

    .faceimf {
        width: 10%;
        margin-left: 5%;
        margin-top: 0%;
    }

    .menufl2 {
        border-left: 1px white solid;
        margin-top: 3%;
        margin-bottom: 0%;
    }

    .menufl3 {
        border-left: none;
        margin-top: 0%;
        margin-bottom: 3%;
    }

    .bffooter {
        margin-bottom: 0%;
    }

    .derechosr {
        margin-bottom: 0%;
        margin-top: 10%;
    }


}




